:root { --bg-dark: #333; --text-dark: #fff; }
.dark-theme { background-color: var(--bg-dark); color: var(--text-dark); }
body { transition: background 0.3s ease; }
body {
    background-color: blue;
}
h1 {
    font-size: 60px;
}